#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .logo {
    font-size: 15vh;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .logo2 {
    font-size: 5vh;
    margin-top: 15px;
  }
  
  h1 {
    font-size: 1.3em;
  }
  .logo-item {
    font-size: 0.9em;
    margin-bottom: 10px;
  }