<ion-header [translucent]="true" hidden>
  <ion-toolbar color="dark">
    <ion-title>
      Lorem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-item lines="none" class="logo-item">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-icon name="cut-outline" class="logo" color="dark"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item lines="none">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <h1>Estelista CLIENTE</h1>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <br>
  <ion-item lines="none" class="logo-item">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-icon name="logo-facebook" class="logo2" color="dark" (click)="loginFacebook()"></ion-icon>
            <ion-button expand="block" shape="round" fill="clear" style="margin-top: 20px;" (click)="loginFacebook()">
              Iniciar Sesión con Facebook
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item lines="none" class="logo-item">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-icon name="logo-google" class="logo2" color="dark" (click)="loginGoogle()"></ion-icon>
            <ion-button expand="block" shape="round" fill="clear" style="margin-top: 20px;" (click)="loginGoogle()">
              Iniciar Sesión con Google
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

</ion-content>