<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Catalogo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Citas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="cerrarS()">
      <ion-icon name="exit-outline"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
