<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reservas de citas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let item of data">
    <img [src]="item.foto" [alt]="item.nombre"/>
    <ion-card-header>
      <ion-card-subtitle>{{ item.precio }} Bs.</ion-card-subtitle>
      <ion-card-title>{{ item.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ item.descripcion }}
      <ion-button color="light" expand="full" (click)="add(item)">Añadir</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          <h3><b>Total:</b></h3>
          <p class="wrap3">
            {{ total2 }} Bs.
          </p>
        </ion-col>
        <ion-col size="6">
          <ion-button disabled={{buttonDisabled()}} id="button-success" (click)="detalle()" expand="block" color="primary" shape="round">
            Siguiente
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-footer>