.img {
    width: 125px; margin-top: 15px; margin-bottom: 15px;
}

.item-name {
    margin-top: 15px;
}

.name {
    margin-bottom: 15px;
    margin-top: 20px;
    border-radius: 22px 22px 0px 0px;
}

.txt {
    margin-top: 8px;
}