<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mis citas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="name">
    <ion-card-content>
      <ion-item lines="none" class="item-name">
        <ion-thumbnail slot="start">
          <img *ngIf="none && !facebook && !google" [src]="none">
          <img *ngIf="facebook" [src]="facebook">
          <img *ngIf="google" [src]="google">
        </ion-thumbnail>
        <ion-label>
          <h3 *ngIf="nombreFacebook">{{ nombreFacebook }}</h3>
          <h3 *ngIf="nombreGoogle">{{ nombreGoogle }}</h3>
        </ion-label>
      </ion-item>
      <br>
    </ion-card-content>
  </ion-card>

  <div class="ion-text-center">
    <h2>
      Citas del cliente
    </h2>
  </div>
  <ion-card *ngFor="let item of citas">
    <ion-card-header>
      <ion-card-title>Servicio: {{ item.servicio }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Día de reserva: {{ item.dia }}
      <br>
      Total: {{ item.total | number:'1.0-2' }} Bs.
      <div class="ion-text-center txt">
        <ion-button (click)="openDetail(item)">Mas Información</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>