<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Servicios Reservados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="temp.length == 0">
    <ion-card-header>
      <ion-card-title>No tiene servicios</ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      <ion-button color="danger" (click)="back()">Volver</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item-sliding *ngFor="let item of temp; index as key">
      <ion-item>
        <ion-label>
          <h5>
            <Span>
              {{ item.nombre }}
            </Span>
          </h5>
          <h6 class="ion-text-center">
            {{ item.precio }} Bs.
          </h6>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option (click)="remove(key)" color="danger">
          <ion-icon class="icon" slot="end" ios="close-circle-outline" md="close-circle-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          <h3><b>Total:</b></h3>
          <p class="wrap3">
            {{ total }} Bs.
          </p>
        </ion-col>
        <ion-col size="6">
          <ion-button disabled={{buttonDisabled()}} id="button-success" (click)="cita()" expand="block" color="primary"
            shape="round">
            Siguiente
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-footer>