<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon class="back" (click)="dismiss()" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Detalle de la Cita </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h1>Servicio: {{ servicio }}</h1>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h4>
          Registrado al Peluquero: {{ peluquero }}
        </h4>
      </ion-card-title>
      <ion-card-subtitle>
        <h5>
          Para el Día: {{ dia }}
        </h5>
      </ion-card-subtitle>
      <ion-card-subtitle>
        <h5>
          Total de: {{ total }}Bs.
        </h5>
      </ion-card-subtitle>
      <ion-card-subtitle>
        <h5>
          A Horas: {{ horas }}
        </h5>
      </ion-card-subtitle>
      <ion-card-subtitle>
        <h5>
          Estado en: {{ estado }}
        </h5>
      </ion-card-subtitle>
      <ion-card-subtitle>
        <h5>
          Fecha de Registro: {{ fecha }}
        </h5>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>