<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon class="back" (click)="dismiss()" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>
      Catologo de productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="productos.length == 0">
    <ion-card-content>
      Productos Vacios
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let item of productos">
    <div class="ion-text-center">
      <img *ngIf="item.foto" [src]="item.foto" />
      <img *ngIf="item.foto == null"
        src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8PDw0PDw0NDQ0NDQ0NDQ
        0NDQ8NDQ8PFREWFhURFRUYHSggGBolHRUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQ0NDg0NDisZFRkrKy03LS
        03Ky0tKys3LSs3Ky0rLS0tLSsrNys3KysrKysrLSsrLSsrNysrKysrKysrK//AABEIAOEA4QMBIgACEQEDEQH/xAAXA
        AEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAFhABAQEAAAAAAAAAAAAAAAAAAAER/8QAFQEBAQAAAAAAAAAAAAAAAAAAAAH/xAA
        VEQEBAAAAAAAAAAAAAAAAAAAAAf/aAAwDAQACEQMRAD8A4eIoAAAAAAAAAAAAAACKAAAAAAgAAAAAAKCAoAAAAAAAIoAAAA
        AAAIoAAAgAAAKgCiAKBAAAAAAAAAAAAARQAAAAAAAAAABAUEFAAAAAAAAAAAFQAAAAAAAAAAARQAEABQAAAAAAAAAIAACKUA
        AAAAAAAAAA0AAAEUQFEAUAAAAAAAAAAAAFBAAFRQQAAABFQAUAQUAAAACAAAAAAAAAACooKggqKKiCoihAAAAABFEBQAAAAA
        AAAAAUEAAFQAAFEAVAAAARQEUARQAAAAAAAAAAAAUFQBUAoAIAAAAAAAICgAiooAAAAAAAAAICkAAAAAFQVRAAAEAABFQFAB
        AUEFAAAAARQAAAAAIAACgrKoKgKACAAAAACAqKgKIAoAAAAAAAAAAAAAAAAAAAAACLQBFQBUAUQAUAAAAAAAAVUQRUUVBQqo
        IAAAAIKAIoAACAoAAAYAAAAAAAAAAAAAAAAACKAIoCAAAACgaACoCioAACAgAoAEAAgAAAFFFoyoIJVACkABAAoAKAD//Z">
    </div>
    <ion-card-header>
      <ion-card-subtitle>{{ item.nombre | uppercase  }}</ion-card-subtitle>
      <ion-card-title>{{ item.marca | uppercase  }}</ion-card-title>
      <ion-card-subtitle>{{ item.precio }} Bs.</ion-card-subtitle>
      <ion-card-subtitle color="danger">{{ item.categoria }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ item.descripcion }}
    </ion-card-content>
  </ion-card>
</ion-content>