<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Reservas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>Seleccionar Peluquero</ion-label>
          <ion-select formControlName="primero" (ionChange)="selectOptionValue2($event)" interface="action-sheet"
            cancelText="Cancelar">
            <ion-select-option *ngFor="let item of peluqueros" [value]="item.id">{{item.username}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="show2 == true">
      <ion-card-content>
        <ion-item>
          <ion-label>Seleccionar el día</ion-label>
          <ion-select formControlName="segundo" [(ngModel)]="dos" (ionChange)="selectOptionValue3($event)"
            interface="action-sheet" cancelText="Cancelar">
            <ion-select-option *ngFor="let item of dias" [value]="item.dia">{{item.dia}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="show3 == true">
      <ion-card-content>
        <ion-item>
          <ion-label>Seleccionar la hora</ion-label>
          <ion-select formControlName="tercero" [(ngModel)]="tres" interface="action-sheet" cancelText="Cancelar">
            <ion-select-option *ngFor="let item of horarios" [value]="item.id">{{item.horas}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          <h3><b>Total:</b></h3>
          <p class="wrap3">
            {{ total }} Bs.
          </p>
        </ion-col>
        <ion-col size="6">
          <ion-button id="button-success" (click)="cita()" expand="block" color="primary" shape="round">
            Siguiente
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-footer>